{% extends "layout.html" %}
{% block content %}
	<form class="form-signin" method=post enctype=multipart/form-data>
		<h1 class="h2 mb-3 font-weight-normal">Out of distribution detector</h1>
		<h2 class="h4 mb-3 font-weight-normal">Please Upload The Image</h2>
		<input type="file" name="file" class="form-control-file" id="inputfile"  onchange="preview_image(event)">
		<br />
		<img id="output-image" class="rounded mx-auto d-block"/>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
	</form>
	

	<script type="text/javascript">
		function preview_image(event) {
			var reader = new FileReader();
			reader.onload = function(){
				var output = document.getElementById('output-image')
				output.src = reader.result;
			}
			reader.readAsDataURL(event.target.files[0]);
		}
	</script>
{% endblock %}